
<p>
  <b>Titel:</b>
  <%= @page.title %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @page.description %>
</p>

<p>
  <b>Inhalt</b>
  <%= @page.to_yaml %>
  <pre>
    <%= File.read Rails.root.join("public/#{@page.file_url}") if @page.content_type == 'text/plain' %> 
  </pre>
</p>

<div class="panel callout radius">
  <h5><%= link_to 'Back', request.referer %></h5>
</div>



