
        <nav class="top-bar" data-topbar >
          <ul class="title-area">
            <li class="name">
              <h1><%= link_to 'G16', root_path %></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li> 
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="active"><a href="#"></a></li>
            </ul>

            <!-- Left Nav Section -->
            <% if current_user.admin? %> 
              <ul class="left">
                <li class="has-dropdown">
                  <a href="#">User</a>
                  <ul class="dropdown">
                    <li><%= link_to 'Alle User', root_path %></li>
                    <li><%= link_to 'Alle Schüler', root_path %></li>
                    
                    <li><%= link_to "xyz", root_path %></li>
                    <li><%= link_to 'xyz', root_path %></li>
                  </ul>
                </li>
              </ul>
            <% else %>
              <ul class="left">
                  <li class="has-dropdown">
                    <a href="#">Kurse</a>
                    <ul class="dropdown">
                      <li>noch leer</li>
                    </ul>
                  </li>
              </ul>
              <ul class="right">
                <li class="active"><%= link_to "Zur Übersicht", root_path %></li>
              </ul>
            <% end %>
          </section>
        </nav>