<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Dokumente - G16-DOCS" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <!-- Nav Bar -->
 
  <div class="row">
    <div class="small-12 columns">
      <ul class="button-group right">
          <li><%= link_to "Zur Login Seite", ENV['ROOT_DOMAIN'], :class => "button tiny lightblue" %></li>
          <li><%= link_to "Log Out #{current_user.login}", "#{ENV['ROOT_DOMAIN']}/logout", :class => "button tiny lightblue " %></li>
      </ul>
      
        <%= image_tag('g16_logo-green.png', :size => '280x100', title: "LOGIN - G16 Farmsen") %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="color:#e36a16; font-size:2em; border-bottom: 3px #79B578 solid;"  >Dokumente</span>
    </div>
  </div>
 
    
  <!-- NAV -->
  <div class="row">
    <div class="small-12 columns">
      <%= render 'layouts/navigation' if current_user %>      
    </div>
  </div>
 
 
  <!-- Main Page Content and Sidebar -->
   <div class="row">
    <div class="small-12 columns">
      <div id="flash-message">
        <% flash.each do |name, msg| %>
          <div data-alert class="alert-box <%= name %> radius"><%= msg %></div>
        <% end %>
      </div>

      <%= yield %>

    </div>
  </div>
 
  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Thomas Bogner 2013.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><%= link_to "G16 CMS - LOGIN", ENV['ROOT_DOMAIN'] %></li>
            <li><a href="http://www.g16hh.de/">G16 Farmsen</a></li>
            <li><a href="http://141.91.210.14/">G16 Moodle</a></li>
            <li><a href="https://www2.wibes.de">Wibes</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
    
  <%= javascript_include_tag "application" %>
  </body>
</html>
